
<!-- Masthead-->

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h2 class="text-white font-weight-bold">５つの質問で自分好みの</h1>
                <h2 class="text-white font-weight-bold">別府温泉を見つけよう</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 ">泉質、別府温泉の地域、好みのロケーション、温泉の特徴、</p>
                <p class="text-white-75 ">大浴場もしくは貸切湯、といった５つの質問に答えるだけで</p>
                <p class="text-white-75 ">あなたにおすすめの温泉が見つかります。</p>
                <a class="btn btn-primary btn-xl" href="#">さっそく探す</a>
            </div>
        </div>
    </div>
</header>
